
.img{
    width: 300px;
    height: 300px;
    border-style: groove;
    margin-left: 25px;
}

.title{
    margin-top: 45px;
    font-size: 20px;
    font-weight: bold;
}

.land{
    background-color: rgb(205, 205, 205);
    height: 100vh;
}
.nueva{
    color: orange;
    border-radius: 0.3rem;
    margin-left: 25px;
}

.back{
    height: 100vh;
}